
.callout-warning {
   font-size: 20px; !important;
}

.border-left {
  border: 1px solid lightgray;
  border-left: 5px solid darkorange;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 3px;
  margin-bottom: 16px;
}

.border-left::first-line {
  font-size: 1.1em; /* Adjust font size as needed */
  font-weight: bold; /* Optional: make it bold */
}

.border-box {
  border: 1px solid lightgray;
  margin-left: 20px;
  padding-left: 10px;
  padding-right: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 3px;
  margin-bottom: 16px;
}

.column-screen-inset {
  position: relative; /* Ensure the element is positioned for z-index to take effect */
  z-index: 1; /* Lower z-index to send it to the back */
  pointer-events: none;
}

/* Set the z-index of the margin elements */
.column-margin {
  position: relative;
  z-index: 10; /* Higher z-index to bring it to the front */
}